Python Fundamentals
----

Basic Input/Output (Refresher)
---
You are asked to accept weight in Pounds ,  write logic to print
weight in Kilograms.

In [ ]:
lbs = int (input('enter weight in Pounds '))

kg = lbs * 0.45

print(f'{lbs} Pounds is {kg} Kilogram(s)')

enter weight in Pounds 110
110 Pounds is 49.5 Kilogram(s)

In [ ]:
planet='earth'
diameter=12734

In [ ]:
print( 'the diameter of ',planet, ' is ', diameter)

the diameter of  earth  is  12734

In [ ]:
print(f'the diameter of {planet} is  {diameter}')

the diameter of earth is  12734

In [ ]:
# -- there are 2 rules you must follow
# the sentance must be prefixed with letter 'f'
# the variables must be enclosed in {} brakcets.

# Decision Making in Python
---

You are asked to accept BasicPay from User.
<pre>
if BasicPay is >= 5000 then  HRA will be 12% of BasicPay , DA will be 14% of BasicPay.


if BasicPay is < 5000 then HRA will be 16% of BasicPay , DA will be 18% of BasicPay.

Objective: to Find Gross Pay . (GrossPay is the Sum of BasicPay + HRA+ DA).

In [ ]:
basicPay =  int (input('enter your Basic Salary üíµ '))

if basicPay >= 5000 :

  HRA = .12 * basicPay
  DA  = .14 * basicPay

else:

  HRA = .16 * basicPay
  DA  = .18 * basicPay


grossPay = basicPay + HRA  + DA

print(f'''

Basic Salary : {basicPay}

House Rent Allowance : {HRA}

Dearness Allowance : {round( DA , 2 ) }

Gross Salary : {grossPay}

''')

enter your Basic Salary üíµ 9500


Basic Salary : 9500

House Rent Allowance : 1140.0

Dearness Allowance : 1330.0000000000002

Gross Salary : 11970.0

In [ ]:
round(1.2345678,2)

1.23

# Looping
---

### How Long is your Burp ? üå¨Ô∏è
---
<pre>
Ask the user to enter the Burp Length , print 'Burp' Message.

eg. if the Length is 5 then 'Burrrrrp'

if the Length is 25 then 'Burrrrrrrrrrrrrrrrrrrrrrrrrp'

if the Length is 45 then 'Burrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrp'

note: Burp Length can be any Integer.

In [ ]:
burpLength  = int (input('Enter your Burp Length üå¨Ô∏è '))

letter=''

for x in range( burpLength ):

  letter = letter + 'r'
  print(f'Bu{letter}p')

Enter your Burp Length üå¨Ô∏è 5
Burp
Burrp
Burrrp
Burrrrp
Burrrrrp

In [ ]:
# range( limit )
# what is range ? range() function generates Numbers.

# range function starts generating numbers from 0 till limit-1

# eg. range(5) output: 0 , 1 , 2 , 3 , 4

# range(9) output: 0  , 1 , 2 ,3 ,4 ,5 ,6 ,7, 8

# range(3) output: 0,1,2

In [ ]:
for x in range(10):

  if x == 7 :
    break
  print(x)

0
1
2
3
4
5
6

# String Manipulatoin
---

You are provided with Student Scores as follows :
<pre>
  marks = "English 55 Science 82 Maths 94"

You are asked to find
  - Sum of All Marks
  - Avg of All Marks

In [ ]:
marks = "English 55 Science 82 Maths 94"

In [ ]:
# step1 : using .split() function separate the words and create a new List.

wordsList = marks.split()

wordsList

['English', '55', 'Science', '82', 'Maths', '94']

In [ ]:
# step 2 : write a for loop , to fetch each element into a variable say word ,
# then use .isdigit() to determine if the variable word contains a Number or Not.

In [ ]:
for word in wordsList :

  print( word ,             word.isdigit() )

English False
55 True
Science False
82 True
Maths False
94 True

In [ ]:
# Step 3 Add the If Condition  to Filter the  Numbers

for word in wordsList :

  if word.isdigit():
    print(word)

55
82
94

In [ ]:
# step 4: Create a new list say 'scores' , using .append() add the numbers into the
# new list. (make sure you convert word from string to integer so that we can do math)

In [ ]:
scores = []

for word in wordsList:

  if word.isdigit():

    scores.append( int(word) )


print(scores)

[55, 82, 94]

In [ ]:
# step 5 : find answers to our question

print('Total Scores ' , sum(scores) )

Total Scores  231

In [ ]:
print('Average Score ' , sum( scores )  /     len ( scores ) )

Average Score  77.0

# Set In Python
---

In [ ]:
salesTeam = {'zhining','armanta','miki','andika','nicklaus'}

In [ ]:
marketingTeam = {'casselyn','zhining','mike','denver','andika','gabriel'}

Objective:  You are asked to find employees who work for Both Sales & Marketing .

In [ ]:
salesTeam.intersection( marketingTeam )

{'andika', 'zhining'}

In [ ]:
# alternatively
ans=salesTeam & marketingTeam

In [ ]:
ans

{'andika', 'zhining'}

Objective: You are asked to prepare a report Containing Names of All Employees from Both Team.

In [ ]:
salesTeam.union( marketingTeam )

{'andika',
 'armanta',
 'casselyn',
 'denver',
 'gabriel',
 'mike',
 'miki',
 'nicklaus',
 'zhining'}

In [ ]:
# alternatively
salesTeam | marketingTeam

{'andika',
 'armanta',
 'casselyn',
 'denver',
 'gabriel',
 'mike',
 'miki',
 'nicklaus',
 'zhining'}

Objective: You are Asked to Find Sales Only Employees ( make sure employee must not work for other Team)

In [ ]:
salesTeam.difference( marketingTeam )

{'armanta', 'miki', 'nicklaus'}

In [ ]:
# Alternatively

salesTeam - marketingTeam

{'armanta', 'miki', 'nicklaus'}

Objective: You are asked to Find Employees from Both the Team , (make sure you find only employees who work for their respective team only and not for other Teams)

In [ ]:
# Symmetric Difference : fetches all Elements from Both Set Excluding Commons.

In [ ]:
salesTeam.symmetric_difference( marketingTeam )

{'armanta', 'casselyn', 'denver', 'gabriel', 'mike', 'miki', 'nicklaus'}

In [ ]:
# Alternatively

salesTeam ^ marketingTeam

{'armanta', 'casselyn', 'denver', 'gabriel', 'mike', 'miki', 'nicklaus'}

# Dictionary
----

In [ ]:
# Creating an Empty Dictionary

usa = {}

In [ ]:
# Adding Key/Value Pair , Syntax-            dict[ keyHere ] = valueHere

usa['Tx'] = 'Texas'
usa['Ca'] = 'California'
usa['Il'] = 'Illinois'
usa['Ar'] = 'Arkansas'
usa['Al'] = 'Alabama'

In [ ]:
print( usa )

{'Tx': 'Texas', 'Ca': 'California', 'Il': 'Illinois', 'Ar': 'Arkansas', 'Al': 'Alabama'}

In [ ]:
# Deleting Key/Value Pair,      Syntax:             del   dictName[KeyHere]
del  usa['Il']

In [ ]:
print(usa)

{'Tx': 'Texas', 'Ca': 'California', 'Ar': 'Arkansas', 'Al': 'Alabama'}

# Retrieving Value using Key
---

In [ ]:
# method 1
usa['Ca']

'California'

In [ ]:
# method 2
usa.get('Ca')

'California'

In [ ]:
# method 2 also provides a provision to produce a default value when given key is not found.
# syntax:   dictName.get( key here , default value here )

In [ ]:
usa.get('Ca' , 'Ouch üò† Key not Found')

'California'

In [ ]:
usa.get('xoxox' , 'Ouch üò† Key not Found')

'Ouch üò† Key not Found'

# Dictionary + Loops
---

In [ ]:
# when a dictionary is used in loop, a dictionary returns Keys

for guessMe in usa :

  print ( guessMe )

Tx
Ca
Ar
Al

In [ ]:
for guessMe in usa :

  print ( guessMe , usa[guessMe] )

Tx Texas
Ca California
Ar Arkansas
Al Alabama

In [ ]:
for guessMe in usa :

  print ( guessMe , usa.get(guessMe))

Tx Texas
Ca California
Ar Arkansas
Al Alabama

Here are some useful functions of Dictionary.

In [ ]:
# .update() : it is used to add multiple key/values in a dictionary

usa.update( {'Ak':'Alaska', 'AZ':'Arizona','Fl':'Florida','Ga':'Georgia'})

In [ ]:
print(usa )

{'Tx': 'Texas', 'Ca': 'California', 'Ar': 'Arkansas', 'Al': 'Alabama', 'Ak': 'Alaska', 'AZ': 'Arizona', 'Fl': 'Florida', 'Ga': 'Georgia'}

In [ ]:
# .keys(): it returns only keys of dictionary
usa.keys()

dict_keys(['Tx', 'Ca', 'Ar', 'Al', 'Ak', 'AZ', 'Fl', 'Ga'])

In [ ]:
# .values() : it returns only values of dictionary
usa.values()

dict_values(['Texas', 'California', 'Arkansas', 'Alabama', 'Alaska', 'Arizona', 'Florida', 'Georgia'])

In [ ]:
# .items(): it return key/value pair in a Tuple
usa.items()

dict_items([('Tx', 'Texas'), ('Ca', 'California'), ('Ar', 'Arkansas'), ('Al', 'Alabama'), ('Ak', 'Alaska'), ('AZ', 'Arizona'), ('Fl', 'Florida'), ('Ga', 'Georgia')])

Objective: Let us Learn how to Generate a Dictionary Dynamically!
---

In [ ]:

mydict= { }     # i created an empty dictionary

for x in range( 2,11):

  # syntax:     dictName [ keyHere ] = valueHere
  mydict[  x  ] =   x * x


print( mydict )

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
mylist= [ "orange" , 'kiwi' , 'dragonfruit', 'papaya', 'custardapple' ]

In [ ]:
mydict= {}


for fruit in mylist :

  mydict[ fruit ] =  len( fruit )

print( mydict )

{'orange': 6, 'kiwi': 4, 'dragonfruit': 11, 'papaya': 6, 'custardapple': 12}

In [ ]:
marks = [ 81 , 29 ,47 , 76 ,  32 , 53  ]

In [ ]:
# you are asked to generate a dictionary where
# key : score
# value: 'Pass' or 'Fail'

# any score > 45 is 'Pass' otherwise 'Fail'

In [ ]:
# functions , tuples uses ()
# list ,index , keys in dict uses []

In [ ]:
marks = [ 81 , 29 ,47 , 76 ,  32 , 53  ]

In [ ]:

# first write a loop that fetches each score into a variable say score

mydict = {}

for score in marks :

  # Add a Condition to Determine if the score > 45

  if score > 45 :

    mydict [ score ] = 'üòÄ'

  else:

    mydict[ score ] = 'ü•≤'


print( mydict )

{81: 'üòÄ', 29: 'ü•≤', 47: 'üòÄ', 76: 'üòÄ', 32: 'ü•≤', 53: 'üòÄ'}

In [ ]:
marks = [ 81 , 29 ,47 , 76 ,  32 , 53  ]

In [ ]:
{score:'Pass' if score>45 else 'Fail' for score in marks }

{81: 'Pass', 29: 'Fail', 47: 'Pass', 76: 'Pass', 32: 'Fail', 53: 'Pass'}

In [ ]:
# Below is a Shopping Cart containing 1 Piece (qty) for Each Product

shopping_cart = ['orange','apple','plum','kiwi']

# below dictionary represents the price of each product

price= { 'orange' : 1 , 'apple':2 , 'plum':3.5,'kiwi':4}

# below dictionary represents the inventory or stock count for each product.

stock = {'orange':32 ,'apple':0 , 'plum':12,'kiwi':8}

# you are asked to find the total Bill as per the shopping_cart items,
# please make sure no product should be billed if it is not present in stock.

In [ ]:
total_bill = 0

for item in shopping_cart :

  if stock[item] > 0 :

    total_bill = total_bill + price[item]
    #total_bill = total_bill + (another_dict[item]* price[item] )

print('Total Amount Payable ', total_bill)

Total Amount Payable  8.5